<nav>
  	<%= link_to "Home", root_path, class: 'p-2 text-muted' %>
	<%= link_to "About Me", about_me_path, class: 'p-2 text-muted' %>
	<%= link_to "Contact", contact_path, class: 'p-2 text-muted' %>
	<%= link_to "Blog", blogs_path, class: 'p-2 text-muted' %>
	<%= link_to "Portfolio", portfolios_path, class: 'p-2 text-muted' %>
	<%= login_helper 'p-2 text-muted' %>
</nav>
