<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>   

    <%= render 'shared/blog_nav' %>

    <div class="container">           

      <main role="main" class="container">
         
        <div class="pb-4">
          <h1 class="font-italic mt-4">My Blog</h1>
          <p class="blog-post-meta">An example blog template built with Bootstrap</p>
          <%= link_to 'Write A New Blog', new_blog_path if logged_in?(:site_admin) %>        
        </div>

        <div class="row">

          <%= yield %>

          <%= render 'shared/blog_sidebar' %>

        </div>
        <!-- start of footer  -->
        <footer class="blog-footer">
          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
        <!-- end of footer -->

        <%= source_helper("blog") %>

        
      </main>
    </div>

  </body>
</html>
